body{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#colBTNout{
    height: 30px;
    margin-left: 70%;
}


#iconoLogOut{
     margin-top: 20px;
}
// finc scss boton log out
.box{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 100px;
    font-size: 50px;
    color: #ad0505;
    background-color: #fff;
}

.box h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

ion-icon{
    font-size: 50px;
}

// style logo
.titulo-login{
    margin-left: 10%;
}

#imagIcono{
    height: 70%
}

#containerMenu{
    margin-bottom: 20%;
}

// menu de navegacion
#botonMenu{
    color: #000;
}

.correoUser{
    font-size: 16px;
}